<form action="/query-search" method="POST">
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Artist Name:</span>
        </div>
        <input type="text" value="" class="form-control" placeholder="Ex. Drake" aria-label="Username" name="userInput"
            aria-describedby="addon-wrapping" required autofocus autocomplete='false' />
        <button type="submit" value="OK" >Submit</button>
    </div>
</form>