<div class="container-full-bg">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Top 5 Songs</h1>
        <p class="lead">This is web app demonstrating the use of node.js, express.js, and the deezer API.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>